
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 53px;
}

.navbar {
    border-bottom: 2px solid #710000;

}

.navbar .container-fluid {
  padding-left: 0;
}
.nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.side-pane {
    position: fixed;
    top: 53px;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-left: 1px solid #eee;

}

.panel-body {
    padding: 5px 10px 5px 10px;
}

#emulator-pane .panel {
  margin:0;
  padding:0;
  border: 0;
}
#emulator-pane .panel-heading {
  margin: 0;
  padding: 4px;
  color: #710000;
;
}
#emulator-pane .panel-title {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

#emulator-pane #memory-view-panel {
  overflow-y:auto;
}


#reg-viewer {
    font-size: 12px;
    font-family: Consolas, "Lucida Console",  Monaco, "DejaVu Sans Mono", "Courier New", sans-serif;
}

.reg-viewer-title {
    font-weight: bold;
}
.reg-viewer-table {
    width: 100%;
}


/*
 * Main pane
 */
.main {
  position: fixed;
  top:53px;
  bottom: 0;
  left:0;
  padding: 0;
  padding-right:400px;
  display:block;
}

.CodeMirror {
  height: 100%;
  width: 100%;
  padding:0;
}

.erroneous-line {
    background-color: #ffcccc;
}

/*
 * status bar
 */
#status-bar {
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px;
  color: #fff;
}

#status-bar.error {
    background-color: #cc0033;
    color: #f5f5f5;
}